<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
<mat-card fxFlex="50" fxFlex.lt-sm="100" fxFlex.gt-lg="35" class="login-container">

  <mat-card-title>Gateway</mat-card-title>

  <form *ngIf="loginForm" [formGroup]="loginForm">
    <div fxLayout="row" fxLayoutGap="24px" fxLayout.lt-sm="column">
      <mat-form-field fxFlex="50" class="username-field">
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>

      <mat-form-field fxFlex="50" class="password-field">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
    </div>
    <button mat-flat-button>Login</button>

    {{ loginForm.value | json }}

  </form>
</mat-card>
</div>
